body{ 
	font-family: 'Red Hat Display', sans-serif;
	text-align: center;
	font-weight: 500;
	background-color: hsl(225, 100%, 94%);	
}
p{
	margin-top: 0;
	font-size: 16px;
	padding: 0 1.2rem;
	line-height: 1.5;
}

h1{
	color: hsl(223, 47%, 23%);
	font-weight: 900;
	margin-top: 0;
}
span{
	display: block;
	color: hsl(223, 47%, 23%);
	font-weight: 900;
}

a{
	font-weight: 700;
	display: block;
}
@media (max-width:650px){
    body{
	background-image: url("images/pattern-background-mobile.svg");                     
    background-repeat: no-repeat; 
	background-size: contain;
  	background-position: top;
}
}

@media screen and (min-width: 650px) {
body {
  	background-image: url('./images/pattern-background-desktop.svg');
  	background-size: contain;
  	background-position: top;
	background-repeat: no-repeat; 
  }
}

.workplace{
	background-color: white;
	max-width:375px;
	border-radius:15px;
	margin: auto;	
}
.illustration-hero{
	width: 100%;
	border-radius:1rem 1rem 0 0;
}
.main{
	padding:2rem 2rem 0;
}
.annual-plan{
	background-color: hsl(225, 100%, 98%);
	border-radius:15px;
	padding: 1.3rem;
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin: 1.5rem 0;
	line-height: 0.5;
}
.write{
	margin:0 0.5rem;
}
.change{
	color: hsl(245, 75%, 52%);
	padding:1rem
}
.change:hover{
	color: hsl(224, 23%, 55%)
}
.payment{
	color: hsl(225, 100%, 98%);
	background:  hsl(245, 75%, 52%);
	padding: 0.625rem;
	border-radius: 10px;
	text-decoration: none;
}
.payment:hover{
	background-color: hsl(224, 23%, 55%); 
}
.cancel{
	color:hsl(224, 23%, 55%);
	text-decoration: none;
	padding:1.25rem;
}
.cancel:hover{
	color: hsl(223, 47%, 23%);
}
.attribution{
	margin: 1.25rem;
}